div .article .summary img {
    display: none;
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    float: left;
}
div .article .summary table {
    display: none;
}

body {
    /* background-image:url('../img/virtuosi-bg2.jpg'); */
    /* background-position: 0px 40px; */
}
